.aboutBlock{
    background-color: #fff;
    border-bottom: solid 1px #aeaeae;
    border-radius: 3px;

    margin-bottom: 10px;

    display: flex;

    padding:15px;
}
.ava{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right:20px;
}
.ava img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.header{
    margin:0 0 10px 0;
    padding: 0;
    font-size: 24px;
}
.item{
     margin:0;
     padding: 0 0 5px 0;
}