.dialogsItems{
    background-color: #fff;
    border-bottom: solid 1px #aeaeae;
    border-radius: 3px;

    margin-bottom: 10px;

    /*display: flex;*/
    padding:15px;
}
.item{
    display: flex;
    margin-bottom: 10px;
    width: 250px;
}
.itemAvaImage{
    width: 20px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #aeaeae;
}
a:hover{
    text-decoration: underline;
}
.active{
    color: #000000;
}