.personAvaBlock{
    /* background-color: #c4c8c9; */

    display: flex;
    align-self: center;


    padding-left: 15px;
    padding-right: 15px;

}
.item{
    display: flex;
    align-items: center;
    /* align-self: center; */

    padding-left: 3px;
    padding-right: 3px;
    color: #000;
    /* font-weight: bold; */
}
.img{
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;

}
