.postItemBlock{
    display: flex;
    /*flex-direction: column;*/

    margin: 0 0 15px 0;

}
.avaBlock{
    flex-basis: 150px;
    /*margin-right:200px;*/
}
.textBlock{
    flex-basis: 300px;
    flex-grow: 1;
}
.avaImg{
    width: 100px;
    /*width: 100%;*/
    height: auto;
    border-radius: 50%;
}
.avaName{
    margin: 0 0 7px 0;
    padding: 0;
}
.avaPostDate{
    font-size: 12px;
    color: #666666;
    margin: 0 7px 0 0 ;
    padding: 0;
    float: left;
}
.avaPostTime{
    font-size: 12px;
    color: #666666;
    margin: 0;
    padding: 0;
}
.textParagraph{
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 14px;
    color: #333;
    /*max-width: 70%;*/
}