.postItemBlock{
    display: flex;
    /*flex-direction: column;*/

    margin: 0 0 15px 0;
}
.avaBlock{
    flex-basis: 150px;
    /*margin-right:200px;*/
}
.avaImg{
    width: 100px;
    /*width: 100%;*/
    height: auto;
    border-radius: 50%;
}
.avaName{
    margin: 0 0 7px 0;
    padding: 0;
}
.avaPostDate{
    font-size: 12px;
    color: #666666;
    margin: 0 7px 0 0 ;
    padding: 0;
    float: left;
}
.avaPostTime{
    font-size: 12px;
    color: #666666;
    margin: 0;
    padding: 0;
}

.textBlock{
    flex-basis: 300px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.textParagraph{
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 14px;
    color: #333;
    background-color: rgb(247, 247, 247);
    padding: 5px;
    border-radius: 5px;
    /*max-width: 70%;*/

    flex-grow: 1;
}

.countBlock{
    display: flex;
    /* background-color: #ff0;  */
    justify-content: flex-end;
}
.countBlockDigit{
    font-size: 12px;
    margin: 3px 10px 3px 3px;
}
.countBlockDigit:last-child{
    margin-right: 0;
}
.countBlockIcon{
    width: 12px;
}