.nav{
    grid-area: navbar;
    /*background-color: #eeeeee;*/
    display: flex;
    flex-direction: column;
    padding:15px;
}

.item{
    display: flex;

    margin-bottom: 3px;
    text-decoration: none;
    color: #666;
}
.item:hover{
    color: darkblue;
}

.navImg{
    width: 16px;
    margin-right: 7px;
}