.footer{
    grid-area: footer;
    background-color: #f5f5f5;

    border-top: solid 1px #aeaeae;
    border-radius: 3px;

    padding: 15px;
}
.footer p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333333;
    text-align: right;
}