/*Grid*/
.app-wrapper{
    display:grid;
    grid-template-areas: "header header" "navbar content" "footer footer";
    grid-template-rows: 70px 1fr 200px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;

    /*background-color: #002aff;*/
    max-width: 1170px;
    margin:0 auto;
}
/*.header{grid-area: header;}*/
/*.nav{grid-area: navbar;}*/
/*.content{grid-area: content;}*/
/*.footer{grid-area: footer;}*/
