.linkBlock{
    /*background-color: #eafdd6;*/

    display: flex;
    align-self: center;

    padding-left: 15px;
    padding-right: 15px;

}

.linkImg{
    width: 20px;
}

.linkItem{
    margin: 0 3px;
}